################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataStructuresToolkit/bin
/DataStructuresToolkit/obj
/DataStructuresToolkit.Tests/bin
/DataStructuresToolkit.Tests/obj
/DataStructureToolkit_DemoHarnessCLI/bin/Debug/net8.0
/DataStructureToolkit_DemoHarnessCLI/obj
/DemoHarness/bin
/DemoHarness_Old/obj
